/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(226, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Centering ChatRoom Title */
h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
}

/* Login container */
form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
}

/* Submit Button */
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 500px) {
    form {
        width: 90%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}
